{% extends 'base.html' %}

{% block content %}
{{ block.super }}
    <br>
    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="card">
                    <div class="card-img-top">
                        <img src="{{ post.image.url }}">
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ post.image_name }}</h4>
                        <p class="card-text">{{ post.image_description | truncatewords:10 }}</p>
                        <div class="tags">
                            <h5 class="text-left-edit"><span class="badge bg-info">{{ post.category }}</span></h5>
                            <h5 class="text-right-edit"><span class="badge bg-info">{{ post.location }}</span></h5>
                        </div>
                        <br>
                        <br>
                        <a href="{% url 'image' image_id=post.id %}" class="card-link btn btn-outline-info">View More</a>                    </div>
                </div>
                {% empty %}
                <h1 class="text-grey monospace">No Posts found</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}