<nav class="navbar navbar-light navbar-expand-md bg-info">
    <div class="container">
        <a href="{% url 'home' %}" class="navbar-brand">Reilly's Gallery</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar">
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
                <div class="input-group">
                    <input type="text" class="form-control me-2 lll" placeholder="Search Image by Location" name="image">
                    <div class="input-group-btn">
                        <button class="btn btn-outline-primary" type="submit">search</button>
                    </div>
                </div>
            </form>
            <div class="dropdown spacer">
                  <button class="btn btn-secondary dropdown-toggle me-4" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    {% for choice_key, choice_value in choices %}
                        <li><a class="dropdown-item" href="{% url 'category_results' category_name=choice_key %}">{{ choice_value }}</a></li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
    </div>
</nav>